body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: rgb(100, 100, 122);
    .advice{
        color: #38343f;
    }

}

@media (max-width: 600px){
    .mid {
        text-align: center;
        font-size: 25px;
    }

    h1{
        font-size: 45px;
    }

    p {
        text-align: justify;
        font-size: larger;
    }

    form {
        text-align: justify;
        font-size: 25px;
    }

    div {
        display: flex;
        align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-size: x-large;
    }

    img {
        width: 80%;
    }
    
}

@media (min-width: 601px){
    p {
        font-size: larger;
        color: blue;
    }
    img {
        width: 40%;
    }
}

@font-face {
    font-family: Token;
    src: url('./fonts/StFont_v111-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}