body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    background-color: rgb(111, 111, 128);
    .advice{
        color: #38343f;
    }
}

@media (orientation: portrait){
    body {
        margin: 5%;
    }

    .mid {
        text-align: center;
        font-size: 25px;
    }

    h1{
        font-size: 45px;
        text-align: center;
    }

    p {
        text-align: justify;
        font-size: larger;
    }

    form {
        text-align: justify;
        font-size: 25px;
    }

    input {
        width: 60%;
        height: 35px;
    }

    button {
        width: 30%;
        height: 50px;
    }

    .buitton {
        display: flex;
        align: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        font-size: x-large;
        
    }

    .immm{
        align: center;
    }

    img {
        width: 80%;
    }
    
    .advice {
        font-size: larger;
    }

    .tab {
        align-items: center;
    }

    .lyrics{
        text-align: center;
    }
}

@media (orientation: landscape){
    body {
        margin: 2%;
    }

    p {
        text-align: justify;
        font-size: small;
    }

    img {
        width: 40%;
    }

    h1{
        font-size: 40px;
    }

    button {
        width: 75px;
        height: 50px;
    }
    
}

@font-face {
    font-family: Token;
    src: url('./fonts/StFont_v111-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}